.swiper-pagination-bullet {
  border-radius: 0;
  background-color: #e2e2e2;
  height: 12px;
  width: 12px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #008271;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  text-align: left;
}

@media (min-width: 1200px) {
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    text-align: right;
    bottom: 2.5rem;
  }
}
